@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-size: 1.2rem;
    position: relative;
    top: 1rem;
}

h4 {
    color: #ffffffac;
    font-weight: 100;
}
body {
    background-color: #000;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curr-weather {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(90%, 900px);
    gap: 10px;
}

.main-pane {
    border-radius: 10px;
    background: linear-gradient(120deg, #d101f5, #4503ed);
    margin: 10px;
    box-shadow: 2px 2px 15px 3px #5204b39f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.vanish {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.show-up {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.loading {
    background-color: #ffffff24;
    border-radius: 10px;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: #ffffff10;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.temp-val {
    font-size: 4.8em;
    font-weight: 1000;
}

.temp-val::after {
    content: "°C";
    font-size: 0.5em;
    font-weight: 700;
    position: relative;
    bottom: 10px;
}
h3 {
    font-size: 1.6em;
    color: #fff;
}

.temp-val,
h3,
.descrip {
    position: relative;
    bottom: 4rem;
}

.temp-val {
    bottom: 3rem;
}

.descrip {
    color: #ffffffd0;
    font-size: 1.2rem;
}

.country {
    color: #fff;
    flex-grow: 1;
    width: 100%;
}

.country::before {
    content: url("./assets/location.svg");
    position: relative;
    top: 3px;
}

.weather-icon {
    transform: scale(0.9);
    width: 16.8rem;
    height: 16.8rem;
}

.side-pane {
    border-radius: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.input {
    width: 100%;
    flex-grow: 1;
    display: flex;
    column-gap: 10px;
    padding: 0.5em;
}

.city-input {
    border: none;
    background-color: #ffffffe6;
    width: 90%;
    outline: none;
    border-radius: 40px;
    font-size: 1.2rem;
    color: #4503ed;
    padding: 8px;
    padding-left: 15px;
}

.city-input::placeholder {
    color: #4503ed;
}

.search-btn {
    /* box-shadow: 0 10px 20px 0 #4503ed; */
    width: 45px;
    border: none;
    background-color: #ffffff;
    border-radius: 50%;
    background-image: url("./assets/search.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-btn:hover {
    cursor: pointer;
}

.tile {
    border: 1px solid #7931ff40;
    border-radius: 10px;
    display: flex;
    width: max(45%, 250px);
    flex-grow: 1;
    padding: 0.5em;
    margin: 10px;
    background: linear-gradient(220deg, hsl(0, 0%, 4%) 10%, hsl(0, 0%, 4%), #1d0158c0 100%);
}

.Wind,
.Humidity,
.Rain,
.Sunrise,
.Sunset,
.Feels-like {
    flex-grow: 1;
}

.tile-icon {
    margin-top: 1rem;
    margin-right: 0.5rem;
    width: 4em;
    height: 4em;
    animation: icons-floating 1s ease-out infinite;
}

.tile-data {
    /* color: #ffffff; */
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
}

.tile-unit {
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 900;
    color: #ffffff;
    position: relative;
    bottom: 0.8em;
}

@keyframes icons-floating {
    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.error {
    animation: error 2s linear infinite;
}

@keyframes error {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.next-5-days {
    padding: 10px;
    gap: 10px;
    width: min(90%, 900px);
    margin-top: 10px;
}


.smaller-wicon {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 8px;
    transform: scale(1.5);
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.temp_min,
.temp_max {
    font-size: 0.9rem;
    color: #fff;
}

.temp_min::after,
.temp_max::after {
    content: "°C";
}

.temp_min {
    opacity: 0.6;
}

.chart-wrapper {
    width: max(100%, 528px);
    /* padding: 10px; */
}

.chart-wrapper-wrapper {
    /* margin-top: 10px; */
    position: relative;
    overflow-x: scroll;
    width: 100%;
}

.chart-wrapper-wrapper-wrapper {
    background: linear-gradient(135deg, hsla(0, 0%, 4%, 0) 10%,  #1d0158c0 100%);
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    /* background: linear-gradient(120deg, #d101f5, #4503ed); */
    /* color: #fff; */
}

.labels {
    display: flex;
    justify-content: space-between;
}

.min-max {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.params {
    display: flex;
    align-items: center;
    /* background: linear-gradient(137deg, #d001f538, #4503ed3c); */
    flex-direction: column;
    height: min-content;
    border-radius: 10px;
}

.param-inactive, 
.param-active {
    margin: 4px;
    border-radius: 10px;
    background: linear-gradient(137deg, #d001f538, #4503ed3c);
}

.param-active {
    background: linear-gradient(137deg, hsl(291, 99%, 18%), hsl(257, 98%, 17%));
    box-shadow: 2px 2px 15px 3px #5304b35a;
}

.graph-icon {
    margin: 9px;
    width: 1.8rem;
    height: 1.8rem;
}

.date-tabs {
    border: 1px solid #7931ff40;
    border-radius: 10px;
    background: linear-gradient(120deg, #5009e856 5%, #000000 70%, #5009e828);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 17.8rem;
    margin-bottom: 10px;
}

.dtab-active,
.dtab-inactive {
    background: linear-gradient(137deg, #d101f5, #4503ed);
    box-shadow: 2px 2px 15px 3px #5204b39f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 10px;
    padding: 5px;
    border-radius: 1rem;
    flex-direction: row;
}
.dtab-inactive > h4 {
    color: #fff;
    position: relative;
    top: 0.5rem;
}

.dtab-inactive {
    background: linear-gradient(137deg, #d001f538, #4503ed3c);
    box-shadow: none;
}

@media screen and (max-width: 958px) {
    .curr-weather {
        flex-wrap: wrap;
        align-items: start;
        width: min(600px, 100%);
    }

    .next-5-days {
        width: min(600px, 95vw);
    }

    .main-pane {
        width: 100%;
    }
    .dtab-active,
    .dtab-inactive {
        flex-direction: column;
    }

    .date-tabs {
        display: flex;
        overflow-x: scroll;
        height: min-content;
        flex-direction: row;
        width: 100%;
    }
}

.dtab-active,
.param {
    cursor: pointer;
}

@media screen and (max-width: 612px) {
    .next-5-days {
        padding: 0;
    }
}

@media screen and (min-width: 958px) {
    .next-5-days {
        display: flex;
    }

    .date-tabs {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 800px;
        margin-right: 20px;
    }

    .chart-wrapper-wrapper {
        flex-grow: 1;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #a600ff00;
    border-radius: 10px;
}
